.labelWidget, .imageWidget, .pushButtonWidget {
	overflow: hidden;
	display: table;
}

.labelWidgetInner, .imageWidgetInner, .pushButtonWidgetInner {
	margin: 0px;
	border: 0px none;
	background: inherited;
	color: inhereted;
	display: table-cell;
	line-height: 120%;
}

.pushButtonWidget {
	
}

.pushButtonWidgetInner {
	outline: 0 none !important;
		
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: PUSH_BUTTON_BORDER_RADIUS;
	border-radius: PUSH_BUTTON_BORDER_RADIUS;
	
	background: literal("-moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)) !important");
	background: literal("-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))) !important");
}

.pushButtonWidgetInner:active {
	background: literal("-moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)) !important");
	background: literal("-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1))) !important");
}

