.scene {
	background-color: #cdcdff;
}

.labelWidget {
	overflow: hidden;
}

.labelWidgetText {
	margin: 0px;
	border: 0px none;
	padding: 0.3em;
	background: inherited;
	color: inhereted;
	display: table-cell;
	line-height: 120%;
}

.progressBarBgBox {
	background: #b7b7b7 !important;
	background: literal("-moz-linear-gradient(top, #b7b7b7, #F0F0F0) !important");
	background: literal("-webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#F0F0F0)) !important");
	border: 2px solid #929292 !important;
	width: 12em;
	height: 1.2em;
}

.progressBarFgBox {
	background: #8fd0ff !important;
	background: literal("-moz-linear-gradient(top, #8fd0ff, #0193ff) !important");
	background: literal("-webkit-gradient(linear, left top, left bottom, from(#8fd0ff), to(#0193ff)) !important");
	border: 1px solid #0077cc !important;
	width: 6em;
	height: 1.2em;
}