.scene {
	background-color: #cdcdff;
}

.labelWidget {
	overflow: hidden;
}

.labelWidgetText {
	margin: 0px;
	border: 0px none;
	padding: 0.3em;
	background: inherited;
	color: inhereted;
	display: table-cell;
	line-height: 120%;
}
