.labelWidget {
	overflow: hidden;
	display: inline-block;
}

.labelWidgetText {
	margin: 0px;
	border: 0px none;
	padding: 0.3em;
	background: inherited;
	color: inhereted;
	display: table-cell;
	line-height: 120%;
}

.imageWidget {
	overflow: hidden;
	display: inline-block;
}

.imageWidgetInner {
	margin: 0px;
	border: 0px none;
	padding: 0.3em;
	background: inherited;
	color: inhereted;
	display: table-cell;
	line-height: 120%;
}
