/** Add css rules here for your application. */
body {
	font-family: arial,sans-serif;
}

div,td {
	color: #000000;
}

a:link {
	color:#0000cc;
}
     
a:visited {
	color:#551a8b;
}

a:active {
	color:#ff0000;
}

button {
	/*display: block;*/
	font-size: 16pt;
}

.widePanel {
	/*width: 100%*/
}

/*** WindowPanel ***/

.mosaic-WindowPanel {
	/*
	opacity: .5;
	filter: alpha(opacity=40);
	*/
}
.mosaic-WindowPanel .Body {
	background: white;
}
.mosaic-WindowPanel .mosaic-Caption {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #bbbbbb;
}
.mosaic-WindowPanel .mosaic-Caption-iconBoxLeft {
	padding: 0px 0px 0px 2px;
}
.mosaic-WindowPanel .mosaic-Caption-iconBoxRight {
	padding: 0px 2px 0px 0px;
}
.mosaic-WindowPanel .mosaic-Caption-text {
	padding: 4px 4px 4px 4px;
	text-align: left !important;
	font-weight: bold;
}
.mosaic-WindowPanel .mosaic-ImageButton {
	display: block;
	cursor: pointer;
	
	/* border: 1px solid transparent;
	 * Unfortunately, in IE, border-color: transparent is rendered as black.
	 * We get around the border on hover displacement of content by adjusting
	 * the margin/padding at the same time.
	 */
	margin: 2px; 
	
	width: 16px;
	height: 16px;
}
.mosaic-WindowPanel .mosaic-ImageButton:hover {
	/* border: 1px solid transparent;
	 * Unfortunately, in IE, border-color: transparent is rendered as black.
	 * We get around the border on hover displacement of content by adjusting
	 * the margin/padding at the same time.
	 */
	margin: 1px;
	border: 1px solid #4d4d4d;
	
	background-color: #ccc;
}
.mosaic-WindowPanel .mosaic-ImageButton:active {
	background-color: #fcc;
}
.mosaic-WindowPanel .popupMiddleCenter {
	padding: 0px;
	margin: 0px;
}
.mosaic-WindowPanel .Resize-nw {
	cursor: nw-resize;
	width: 5px;
	height: 5px;
}
.mosaic-WindowPanel .Resize-n {
	cursor: n-resize;
	height: 5px;
}
.mosaic-WindowPanel .Resize-ne {
	cursor: ne-resize;
	width: 8px;
	height: 5px;
}
.mosaic-WindowPanel .Resize-e {
	cursor: e-resize;
	width: 8px;
}
.mosaic-WindowPanel .Resize-se {
	cursor: se-resize;
	width: 8px;
	height: 8px;
}
.mosaic-WindowPanel .Resize-s {
	cursor: s-resize;
	height: 8px;
}
.mosaic-WindowPanel .Resize-sw {
	cursor: sw-resize;
	width: 5px;
	height: 8px;
}
.mosaic-WindowPanel .Resize-w {
	cursor: w-resize;
	width: 5px;
}

/*** InfoPanel ***/

.mosaic-InfoPanel {
}
.mosaic-InfoPanel-panel {
}
.mosaic-InfoPanel-caption {
	font-weight: bold;
	display: block;
}
.mosaic-InfoPanel-description {
}

/*** TabLayoutPanel ***/

.mosaic-TabLayoutPanel {
}

.mosaic-TabLayoutPanel .Body {
/*
	border-color: #92c1f0;
	border-style: solid;
	border-width: 3px 2px 2px 2px;
*/
}

/*** Table ***/

.mosaic-Table {
	/*border: 1px solid #b6bbbc;*/
	border: 1px solid #bbbbbb;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.mosaic-Table-header-wrap {
	height: 36px;
	/*background: #e7edf3 url(images/table/header-bg.png) repeat-x;*/
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	/*border-bottom: 1px solid #b6bbbc;*/
	border-bottom: 1px solid #bbbbbb;
	overflow: hidden;
}

.mosaic-Table-header {
	height: 36px;
}

.mosaic-Table-header table,
.mosaic-Table-table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.mosaic-Table-header td,
.mosaic-Table-table td {
	margin: 0;
	padding: 0;
	border: 0;
}

.mosaic-Table-header td {
	cursor: pointer;
}

.mosaic-Table-resizer {
	display: block;
	height: 36px;
	float: right;
	background: transparent url(images/table/resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.mosaic-Table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	color: #393a3c;
	font-size: 15px;
	padding-top: 9px;
	text-shadow: #ffffff 2px 2px 0;
}

.mosaic-Table-header-cell-asc .mosaic-Table-caption-container {
	background: transparent url(images/table/sort-asc.png) no-repeat right 80%;
}
.mosaic-Table-header-cell-desc .mosaic-Table-caption-container {
	background: transparent url(images/table/sort-desc.png) no-repeat right 80%;
}
.mosaic-Table-header-cell:hover,
.mosaic-Table-header-cell-asc:hover,
.mosaic-Table-header-cell-desc:hover {
	background: transparent url(images/table/header-bg-over.png) repeat-x;
}

.mosaic-Table-body {
	background: #fff;
}

.mosaic-Table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}

.mosaic-Table-row,
.mosaic-Table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	cursor: default;
}

.mosaic-Table-row-odd {
	background-color: #f6f7f7;
}
.mosaic-Table-row:hover,
.mosaic-Table-row-odd:hover {
	background-color: #edeeee;
}
.mosaic-Table .i-selected {
	background: #d5dde0;
	color: #456572;
}
.mosaic-Table-row td,
.mosaic-Table-row-odd td {
	padding: 0;
}
.mosaic-Table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 0 3px 3px;
	margin-right: 5px;
	height: 18px;
}
/* Fix textfield size to correspond label size inside table */
.mosaic-Table-cell-content .mosaic-textfield {
	height: auto;
	margin: -2px 0 -3px -3px;
	width: 97%; /* approximate */
}

.mosaic-Table-column-selector {
	float: right;
	background: transparent url(images/table/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

* html .mosaic-Table-column-selector {
	position: static;
}

*+html .mosaic-Ttable-column-selector  {
	position: static;
}

.mosaic-Table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.mosaic-Table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.mosaic-Table-header-drag {
	position: absolute;
	background: #e7edf3 url(images/table/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.mosaic-Table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(images/table/scroll-position-bg.png);
}

.mosaic-Table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}


/* row in column selector */
.i-on div {
	background-image: url(images/table/check.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
	text-indent: 6px;
}
.i-off div {
	text-indent: 6px;
}

/* TEST */

.mosaic-LayoutPanel {
	/*
	border: 1px dotted #f00;
	margin: 5px;
	*/
}
