/** Add css rules here for your application. */

button,input,textarea,select,table {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.m-Form, .m-Form div {
	overflow: visible !important;
}

.gwt-SplitLayoutPanel-HDragger {
	background-color: transparent !important;
}
